*{
  background-color: #415E8C;
}

video {
  width: 100%;
  height: auto;
  overflow: ;
  position: ;
  z-index: ;
}

.container img {
  width: ;
  height: auto;
  z-index: ;
}

.random {
  margin: ;
  text-align: ;
  display: ;
  z-index: ;
}
